.players-list {
  overflow: auto;
  /*height: 300px; /* has to be modified according to device height */
}

.player-flex-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #770000;
  border-radius: 2px;
  background-color: #373737;
  padding: 5px;
  margin-bottom: 1px;
}

.player-flex-item {
  color: #fff;
  text-transform: uppercase;
  font-size: x-large;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.player-name {

}

.player-score {
  float: right;
}

.player-delete {
  float: right;
}

.add-player-flex-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.add-player-flex-item {
  cursor: pointer;
}

.player-name-input {
  width: 80%;
}

.player-name-input input {
  color: white;
}

.player-name-input input[type=text]:focus {
  border-bottom: 1px solid #770608;
  box-shadow: 0 1px 0 0 #770608;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #20202000;
  border: 3px solid #770608;
  position: relative;
  box-shadow: 0 0 15px #000;

}

.circle:hover {
  background-color: #383838;
  -webkit-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #770608;
  height: 3px;
  margin-top: -1px;
  top: 50%;
  left: 8px;
  right: 8px;
  z-index: 9;
}

.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #770608;
  width: 3px;
  margin-left: -1px;
  left: 50%;
  top: 8px;
  bottom: 8px;
  z-index: 9;
}

.new-game-flex-container {
  display: flex;
  justify-content: center;
}

.new-game-flex-item:nth-child(odd) {
  margin-right: 10px;
}

.new-game-button {
  background-color: #373737;
  border: 2px solid #770000;
  padding-bottom: 35px;
}

.footer {
  text-align: center;
  margin-top: 15px;
}

.footer a {
  color: #929292;
}
