<div class="adapt-points-wrapper">
  <div class="user-infos-flex-container">
    <div class="user-infos-flex-items name">Name: {{ selectedPlayer.name }}</div>
    <div class="user-infos-flex-items score">
      Punkte: <span class="saved-score">{{ selectedPlayer.score }}</span>
      <span *ngFor="let points of tuttoList">
        + <span>{{ points }}</span>
      </span>
    </div>
  </div>
  <hr>
  <div class="points-operator">
    <div class="display-sum">{{ currentPoints }}</div>
    <div class="points-flex-container">
      <div (click)="onIncreasePoints(50)" class="points-flex-item">50</div>
      <div (click)="onIncreasePoints(100)" class="points-flex-item">100</div>
    </div>
    <div class="points-flex-container">
      <div (click)="onIncreasePoints(200)" class="points-flex-item">200</div>
      <div (click)="onIncreasePoints(300)" class="points-flex-item">300</div>
      <div (click)="onIncreasePoints(400)" class="points-flex-item">400</div>
    </div>
    <div class="points-flex-container">
      <div (click)="onIncreasePoints(500)" class="points-flex-item">500</div>
      <div (click)="onIncreasePoints(600)" class="points-flex-item">600</div>
      <div (click)="onIncreasePoints(1000)" class="points-flex-item">1000</div>
    </div>
    <div class="points-flex-container">
      <div (click)="onDoubleScore()" class="points-flex-item">2x</div>
      <div (click)="onTutto()" class="points-flex-item">Tutto</div>
      <div (click)="onReset()" class="points-flex-item">Reset</div>
      <div (click)="onSteal()" class="points-flex-item" [class.disable-steal]="currentMaxScore == selectedPlayer.score">Stehlen</div>
    </div>
  </div>
  <hr>
  <div class="points-flex-container">
    <div (click)="onAdd()" class="points-flex-item">Punkte Hinzufügen</div>
    <div (click)="onCancel()" class="points-flex-item">Runde Abbrechen</div>
  </div>
</div>

