.adapt-points-wrapper {
  padding: 2px;
}

.user-infos-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.user-infos-flex-items {
  color: white;
  overflow: auto;
  text-transform: uppercase;
}

.name {
  font-size: x-large;
  white-space: nowrap;
}

.score {
  font-size: xx-large;
}

.saved-score {
  color: #808080;
}

.display-sum {
  font-size: 2.5em;
  text-align: center;
  background-color: #d4d4d4;
  border-radius: 5px;
  margin: 10px;
}

.points-flex-container {
  display: flex;
}

.points-flex-item {
  text-align: center;
  flex-grow: 1;
  flex-basis: 1em;
  background-color: #373737;
  color: white;
  font-size: xx-large;
  border: 1px solid #770000;
  border-radius: 2px;
  margin: 1px;
  box-shadow: 0 2px 5px black;
  user-select: none;
}

.disable-steal {
  color: #575757;
  text-decoration: line-through;
}
