<div class="imprint">
<h5>Kontakt-Adresse</h5>
<p>

  <a href="#" class="cryptedmail"
     data-name="info"
     data-domain="silasmeier"
     data-tld="ch"
     onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
  </a>
</p>
  <h5>Haftungsausschluss</h5>
<p>
  Diese Webapp ist ausschliesslich für den privaten Gebrauch gedacht. Es wird keine Art der Monetarisierung verwendet. Die Anwendung ist OpenSource auf Github verfügbar. [1]
  Der Autor &uuml;bernimmt keinerlei Gew&auml;hr bezüglich der inhaltlichen Richtigkeit, Genauigkeit und Vollst&auml;ndigkeit der Informationen.
</p>
  <h5>Urheberrechte</h5>
<p>
  Das Copyright für das Spiel "Tutto" liegt bei Abacusspiele [2].
  Das Copyright für die Graphischen Elemente (Favicons und Logo) liegt bei der Firma Carletto AG [3]. Infos zum Spiel sowie eine Anleitung ist auf der Webseite von GameFactory [4] zu finden.
</p>
<p>
  Die Schrift "SupriaSans-CondLight" wurde online [5] bezogen und für "Personal use" gratis verwendebar.
  Die Schrift "DomCasualBT-Regular" wurde ebenfalls frei online [6] bezogen. Copyright 1990-1993 Bitstream Inc. All rights reserved.
</p>
<ul>
  <li><a href="https://github.com/Washipp/tutto" class="foot-note" target="_blank">
    [1] https://github.com/Washipp/tutto</a></li>
  <li><a href="https://abacusspiele.de/" class="foot-note" target="_blank">
    [2] https://abacusspiele.de/</a></li>
  <li><a href="https://carletto.ch/index.php/de/" class="foot-note" target="_blank">
    [3] https://carletto.ch/index.php/de/</a></li>
  <li><a href="https://www.gamefactory-spiele.com/tutto" class="foot-note" target="_blank">
    [4] https://www.gamefactory-spiele.com/tutto</a></li>
  <li><a href="https://www.fontsmarket.com/font-download/supria-sans-cond-light" class="foot-note" target="_blank">
    [5] https://www.fontsmarket.com/font-download/supria-sans-cond-light</a></li>
  <li><a href="http://allfont.de/download/dom-casual-bt/" class="foot-note" target="_blank">
    [6] http://allfont.de/download/dom-casual-bt/</a></li>
</ul>
</div>
