.nav-icons {
  font-size: 4rem;
  padding-left: 5px;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

nav {
  margin-bottom: 1rem;
  background-color: #770000;
  box-shadow: 0 6px 5px black;
}

.brand-logo {
  font-family: 'dom-casual', serif;
  font-size: 3.5rem;
  display: flex;
  text-align: center;
}

.brand-logo img {
  margin-right: 5px;
}
